@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
h1{
    color:black;
}

.container{
    box-shadow: 0 0 0.5em 0 #152238;
    background-color:#152238;
    padding: 1em;
}

.score-container{
    display: flex;
    justify-content: space-between;
}

.game-container{
    margin-top: 0.5em;
    background-color: #203354;
    width: 60vw;
    height: 60vw;
    max-width: 600px;
    max-height: 600px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.is-food{
    background-color: green;
}
.is-snake{
    background-color: white;
}
.controls-container{
    display: none;
}
.game-cell{
    margin: 0;
    box-sizing: border-box;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05);
    width: 5%;
    aspect-ratio: 1;
}

@media screen and (max-width: 600px) {
    .game-container{
        width: 90vw;
        height: 90vw;
    }

    .controls-container{
        margin-top: 1em;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        flex-direction: column;
    }
    .juntas{
        display: flex;   
    }
    
    .fa-solid{
        font-size: 350%;
        margin: 0.25em 1em;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
        border-radius: 50%;
    }

    .fa-solid:active{
        transform: scale(0.9);
    }

}